#header {
  background-color: black;
  padding-left: 4%;
  padding-right: 4%;
}

#menuBar {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
}

#icon {
  display: flex;
  width: 30%;
}

#airbnbimg {
  margin-top: -13px;
  margin-bottom: 15px;
  width: 115px;
  height: 70px;
}

#airbnb {
  margin-top: 0px;
  margin-left: -35px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
}

#selectOption {
  position: relative;
  left: 0px;
  width: 40%;
  text-align: center;
}

.selectOptionText {
  margin: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: white;
}

#mypage {
  width: 30%;
}

#becomeHost {
  margin-left: 42%;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

#globe {
  width: 5%;
}

#searchBar {
  margin-top: -2%;
  margin-left: 23%;
  margin-right: 23%;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  width: 46%;
  height: 8%;
  min-width: 400px;
  z-index: 1;
  display: flex;
}

.searchBarDevideBar {
  border-right: 1px solid #dddddd;
  margin-top: 2%;
  height: 60%;
}

#location {
  padding-left: 4%;
  width: 32%;
  overflow: hidden;
  box-sizing: border-box;
}

#check {
  padding-left: 3%;
  width: 20.5%;
  overflow: hidden;
  box-sizing: border-box;
}

#numberOfPeople {
  padding-left: 3%;
  margin-top: 2%;
  height: 60%;
  width: 18%;
  overflow: hidden;
  box-sizing: border-box;
}

#magnifyingGlass {
  margin-top: 1.3%;
  margin-left: -30.5%;
  width: 70%;
  height: 70%;
  position: absolute;
}

.searchBarTitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
}

.searchBarText {
  font-size: 14px;
  line-height: 18px;
  color: #717171;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mainPicture {
  min-width: 700px;
  padding-left: 1%;
  padding-right: 1%;
  background-color: black;
}

#mainText {
  padding-top: 30px;
  background-color: black;
  text-align: center;
}

#possibleHost {
  color: white;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: -0.02em;
}
