extends layout

block content

  #header
    #covid
      p.covidstatement 에어비앤비의 코로나19 대응 방안에 대한 최신 정보를 확인하세요.
    #menuBar
      #icon 
        p airbnb
      #selectOption 
        span.sO 숙소
        span.sO 체험
        span.sO 온라인 체험        
      #mypage
        span.rt 호스트 되기
    #searchBar
    #mainPicture
      img#mainPicture3(src="https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=960", alt="error")
    #mainTitle
      p 호스트 분들이 있기에 가능합니다
  #main 
    #section  
    #section
    #section
    #section
    //- include ./main/section.pug
   
  #footer
    #topFooter
      .information_foot
        h1.inform_title 소개
          p.inform_contents 에어비앤비 이용 방법
          p.inform_contents 뉴스룸
          p.inform_contents 투자자 정보
          p.inform_contents 에어비앤비 플러스
          p.inform_contents 에어비앤비 Luxe 
          p.inform_contents 호텔투나잇
          p.inform_contents 에어비앤비 비즈니스 프로그램
          p.inform_contents 호스트 분들이 있기에 가능합니다
          p.inform_contents 올림픽
          p.inform_contents 채용정보
          p.inform_contents 창립자 편지
      .information_foot
        h1.inform_title 커뮤니티
          p.inform_contents 다양성 및 소속감
          p.inform_contents 접근성
          p.inform_contents 에어비앤비 어소시에이트
          p.inform_contents 구호 인력을 위한 숙소
          p.inform_contents 게스트 추천
          p.inform_contents Airbnb.org 
      .information_foot
        h1.inform_title 호스팅하기
          p.inform_contents 숙소 호스팅하기
          p.inform_contents 온라인 체험 호스팅하기
          p.inform_contents 체험 호스팅하기
          p.inform_contents 책임감 있는 호스팅
          p.inform_contents 자료 센터
          p.inform_contents 커뮤니티 센터
      .information_foot
        h1.inform_title 에어비앤비 지원
          p.inform_contents 에어비앤비의 코로나19 대응 방안
          p.inform_contents 도움말 센터
          p.inform_contents 예약 취소 옵션
          p.inform_contents 에어비앤비 이웃 민원 지원
          p.inform_contents 신뢰와 안전
    #bottomFooter
      #info_foot 
        p © 2021 Airbnb, Inc. All rights reserved
        | 개인정보 처리방침·이용약관·사이트맵·한국의 변경된 환불 정책·회사 세부정보
      #language_foot
        .left_language_foot
          p 한국어 (KR)
        .right_language_foot 
          p ₩ KRW
      #tag_foot
   
    //- include ./common/foot.pug