extends layout

block content

  #header
    #menuBar 
    #searchBar
    #mainPicture 
    #mainTitle
  #main 
    #section
    #section
    #section
    #section
    //- include ./main/section.pug
   
  #footer
    #topFooter
      #introduce_foot
      #community_foot
      #hosting_foot 
      #support_foot
    #bottomFooter
      #info_foot 
      #service_foot
    //- include ./common/foot.pug