extends layout

block content
  #covid
    p.covidstatement 에어비앤비의 코로나19 대응 방안에 대한 최신 정보를 확인하세요.    
 
  include ./home/header/index.pug
  
  include ./home/main/index.pug
   
  include ./home/footer/index.pug