doctype html
html
  head

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_footer/style_footer.css')
    link(rel='stylesheet', href='/stylesheets/style_header/style_header.css')
  body
    block content
