body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-family: "Independence_hall"; */
  margin: 0px;
}

/* @font-face {
  font-family: "Independence_hall";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Independence_hall.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

a {
  color: #00b7ff;
}

div {
  border: 1px solid #eeeeee;
  min-height: 100px;
  min-width: 20%;
}

#section {
  border: 3px solid;
  border-radius: 30px;

  /* position: fixed;
  top: 30px;
  left: 20px; */
}

#footer {
  font-style: Circular;
  padding-left: 80px;
  padding-right: 80px;
  border: 0px;
}
