body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #00b7ff;
}

div {
  border: 1px solid #eeeeee;
  min-height: 100px;
  min-width: 20%;
}

#section {
  border: 3px solid;
  border-radius: 30px;

  /* position: fixed;
  top: 30px;
  left: 20px; */
}

#footer {
  font-style: Circular;
  padding-left: 80px;
  padding-right: 80px;
  border: 0px;
}
