#main 
  .section
    span.sectionTitle 가까운 여행지 둘러보기
    #nearbySpot
      .spot
        img.cityPicture(src="https://a0.muscache.com/im/pictures/71e23854-a3c7-491c-b715-6e86233a293f.jpg?im_q=medq&im_w=240", alt="seoul")
        div.cityExplain  
          span.cityName 서울<br/>
          span.cityDistance 차로 15분 거리
      .spot  
        img.cityPicture(src="https://a0.muscache.com/im/pictures/8b318783-723f-4584-9b9b-0eb2c8b6078e.jpg?im_q=medq&im_w=240", alt="Inchoen")
        div.cityExplain
          span.cityName 인천<br/>
          span.cityDistance 차로 45분 거리
      .spot
        img.cityPicture(src="https://a0.muscache.com/im/pictures/6b36a0f9-453f-4d11-974e-0cf164b4d18c.jpg?im_q=medq&im_w=240", alt="Daegoo")
        div.cityExplain
          span.cityName 대구<br/>
          span.cityDistance 차로 3.5시간 거리
      .spot
        img.cityPicture(src="https://a0.muscache.com/im/pictures/105b8160-1109-4678-b8aa-367ea9faebea.jpg?im_q=medq&im_w=240", alt="Uijeongbu")
        div.cityExplain
          span.cityName 의정부<br/>
          span.cityDistance 차로 45분 거리
      .spot
        img.cityPicture(src="https://a0.muscache.com/im/pictures/926d56aa-8b36-4138-8eae-ad991868b858.jpg?im_q=medq&im_w=240", alt="Daejeon")
        div.cityExplain
          span.cityName 대전<br/>
          span.cityDistance 차로 2.5시간 거리
      .spot
        img.cityPicture(src="https://a0.muscache.com/im/pictures/087a8dff-a609-4084-86db-f45051c6f23a.jpg?im_q=medq&im_w=240", alt="Gwangju")
        div.cityExplain
          span.cityName 광주<br/>
          span.cityDistance 차로 4시간 거리
      .spot
        img.cityPicture(src="https://a0.muscache.com/im/pictures/8340bd19-ee32-4669-8b10-a8ac7e7735d4.jpg?im_q=medq&im_w=240", alt="Suwon")
        div.cityExplain
          span.cityName 수원시<br/>
          span.cityDistance 차로 45분 거리
      .spot
        img.cityPicture(src="https://a0.muscache.com/im/pictures/a0eb36e7-b468-4c5e-93b2-819e793563b2.jpg?im_q=medq&im_w=240", alt="Ulsan")
        div.cityExplain
          span.cityName 울산<br/>
          span.cityDistance 차로 5시간 거리
  .section
    span.sectionTitle 어디에서나, 여행은 살아보는 거야!
    .flexSection
      .wantedOption
        img.radiusSmallPicture(src="https://a0.muscache.com/im/pictures/7d82ca14-56e5-4465-8218-dcfa7d69b6ac.jpg?im_w=480", alt="error") 
        span.wantedOptionTitle 집 전체
      .wantedOption
        img.radiusSmallPicture(src="https://a0.muscache.com/im/pictures/36f53e61-db8d-403c-9122-5b761c0e4264.jpg?im_w=480", alt="error") 
        span.wantedOptionTitle 독특한 공간
      .wantedOption
        img.radiusSmallPicture(src="https://a0.muscache.com/im/pictures/7f254627-3922-4880-b8fa-545b8551117e.jpg?im_w=480", alt="error") 
        span.wantedOptionTitle 농장 및 자연
      .wantedOption
        img.radiusSmallPicture(src="  https://a0.muscache.com/im/pictures/10a638e1-6aff-4313-8033-1275cec83987.jpg?im_w=480", alt="error") 
        span.wantedOptionTitle 반려동물 동반 가능

  #section2
    img#section2Picture(src="https://a0.muscache.com/im/pictures/eff28e1d-51c4-49ff-8266-68d6929ea1ec.jpg?im_w=1200", alt="error")
    #shareOtherPeople
      p.section2Title 여러분의 세상을 다른 사람들과 나눠보세요.
      p.section2Text 남는 공간을 활용해 새로운 기회를 만들어 보세요.
      span.section2button 호스팅 시작하기
  .section
    div
      span.sectionTitle 체험 둘러보기<br/>
      span.sectionText 현지 전문가와 함께하는 독특한 액티비티에 오프라인이나 온라인으로 참여해 보세요.
    .flexSection
      .experience
        img.radiusSmallPicture(src="https://a0.muscache.com/im/pictures/ad109d56-2421-40cd-98e6-e114160dc85b.jpg?im_w=480", alt="error")
        span.sectionExpalin2Name 체험<br/>
        span.sectionExpalin2Name 어디에서든 세계 각자의 매력을 만나실 수 있습니다.
      .experience
        img.radiusSmallPicture(src="https://a0.muscache.com/im/pictures/a6b08861-feb8-4a01-a76d-b33d2867b441.jpg?im_w=480", alt="error")
        span.sectionExpalin2Name 온라인 체험<br/>
        span.sectionExpalin2Name 호스트와 실시간으로 소통하면서 액티비티를 즐겨보세요.
      .experience
        img.radiusSmallPicture(src="https://a0.muscache.com/im/pictures/247a1ea3-946d-4eb8-a6ab-e8b9a66846f4.jpg?im_w=480", alt="error")
        span.sectionExpalin2Name 추천 컬렉션: 여행 본능을 깨우는 체험<br/>
        span.sectionExpalin2Name 온라인 체험으로 집에서 랜선 여행을 즐기세요.  