#header
  #menuBar
    #icon 
      img#airbnbimg(src="https://www.morningstar.co.uk/static/UploadManager/Assets/Airbnb%20logo%208.png", alt="error")
      p#airbnb airbnb
    #selectOption 
      span.selectOptionText 숙소
      span.selectOptionText 체험
      span.selectOptionText 온라인 체험        
    #mypage
      span#becomeHost 호스트 되기
      img#globe(src="https://www.flaticon.com/premium-icon/icons/svg/4049/4049767.svg", alt="globe")
  #searchBar
    #location.searchBarDevideBar
      span.searchBarTitle 위치 </br>
      span.searchBarText 어디로 여행가세요?
    #check.searchBarDevideBar
      span.searchBarTitle 체크인 </br>
      span.searchBarText 날짜 입력
    #check.searchBarDevideBar 
      span.searchBarTitle 체크아웃 </br>
      span.searchBarText 날짜 입력
    #numberOfPeople
      span.searchBarTitle 인원 </br>
      span.searchBarText 게스트 추가
    div
      img#magnifyingGlass(src="https://www.flaticon.com/svg/vstatic/svg/3349/3349584.svg?token=exp=1617622228~hmac=6a355b6b3f4fd185cf8a0b26db97c761", alt="error")
  #mainPicture
    img.widthHeight100(src="https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=960", alt="error")
  #mainText
    span#possibleHost 호스트 분들이 있기에 가능합니다